#dir-filters(class= classNames(component))
  form(onsubmit = "return false;")
    .row
      .col-md-6
        .form-group
          label(for='fileName') File Name
          input.form-control(
            name='fileName'
            type='text'
          )
      .col-md-3
        label(for='types') Types
        #types.form-group
          .form-check.form-check-inline
            input.form-check-input(
              name='markdown'
              type='checkbox'
              checked=markdown
            )
            label.form-check-label(for='markdown')
              i.far.fa-file-alt
          .form-check.form-check-inline
            input.form-check-input(
              name='directory'
              type='checkbox'
              value='directory'
              checked=directory
            )
            label.form-check-label(for='directory-filter')
              i.far.fa-folder
          .form-check.form-check-inline
            input.form-check-input(
              name='image'
              type='checkbox'
              value='image'
              checked=image
            )
            label.form-check-label(for='image-filter')
              i.far.fa-image
    .row.mb-3
      .col
        .btn-toolbar.float-sm-right
          .btn-group.mr-2
            button.btn.btn-secondary(
              type='button'
              data-on-click='clickClear'
            ) Clear
          .btn-group
            button.submit.btn.btn-primary(
              type='button'
              data-on-click='clickSubmit'
            ) Submit
