div(
  class= classNames('modal', 'fade', component)
  tabindex="-1"
  role="dialog"
  aria-labelledby="imagePasteLabel"
  aria-hidden="true"
)
  .modal-dialog.modal-lg(role="document")
    .modal-content
      form
        .modal-header
          h5.modal-title Image Select
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body.container
          .alert
          .row
            for image, idx in images
              .col-md-4
                img.img-fluid.img-thumnail(
                  data-on-click= "clickImage"
                  src= image
                  tabindex= idx
                  )
          .alert-container
        .modal-footer
          button.btn.btn-primary.mr-auto.p-2(
            type= "button"
            data-on-click= "clickUpload"
          ) Upload New
          button.btn.btn-secondary(
            type="button"
            data-dismiss="modal"
          ) Close
          button.submit.btn.btn-primary(
            data-on-click= "clickSelect"
            type="button"
          ) Select
