@icon-width: 40px;
@text-width: 200px;
@ul-padding: 5px;
@border-width: 2px;
@total-width: @icon-width + @text-width + (@ul-padding * 2) + (@border-width * 2);

:local(.component) {
  min-width: @total-width;
  max-width: @total-width;
  margin-left: -200px;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: margin-left 500ms;
  ul {
    padding: @ul-padding;
    border: @border-width solid;
    border-radius: @border-width * 2;
    li {
      list-style-type: none;
      padding: 0;

      cursor: pointer;
      & > * {
        display: inline-block;
        line-height: @icon-width !important;
        vertical-align: middle;
      }
      .text {
        width: @text-width;
        padding-right: 12px;
        text-align: right;
      }
      i {
        width: @icon-width;
        height: @icon-width;
        text-align: center;
        font-size: 2rem;
      }
    }
  }
  &.show {
    margin-left: 0px;
  }
}
.show :local(.toggle) {
  transform: rotate(180deg);
}
:local(.toggle) {
  transition: transform 500ms;
}
