#dir.row
  .col
    table.table.table-hover
      thead
        tr.d-flex
          th.col-1(scope='col') Type
          th.col-8(scope='col') Name
          th.col-3(scope='col') Modified
      tbody
        for node in rows
          if node.isDirectory
            tr.d-flex
              td.col-1.text-center
                i.far.fa-2x.fa-folder
              td.col-8
                a(href= node.url)= node.name
              td.col-3= moment(node.modified).format('L LTS')
          else if node.isMarkdown
            tr.d-flex
              td.col-1.text-center
                i.fab.fa-2x.fa-markdown
              td.col-8
                a(href= node.url)= node.name
              td.col-3= moment(node.modified).format('L LTS')
          else if node.isImage
            tr.d-flex.text-black-50
              td.col-1.text-center
                i.far.fa-2x.fa-image
              td.col-8= node.name
              td.col-3= moment(node.modified).format('L LTS')
          else
            tr.d-flex.text-black-50
              td.col-1.text-center
                i.far.fa-2x.fa-file
              td.col-8= node.name
              td.col-3= moment(node.modified).format('L LTS')