div(
  class= classNames(
    'alert',
    'fade',
    'show',
    { 'alert-dismissable': dismissable },
    { ['alert-' + context]: context }
  )
  role='alert'
)
  != content
  if dismissable
    button.close(
      type= 'button'
      data-dismiss= 'alert'
      aria-label= 'close'
    )
      span(aria-hidden='true') &times;
