extends layout

block content
  h1 A Fancy Error Page Appears!
  p 
    | Oh noes... something terrible has happened. Additionally, there's no
    | telling whether doing that again will have the same result.
  p= error.message
  p= error.status
  pre #{error.stack}
