doctype html
html
  head
    title= title
    link(rel='stylesheet', href="/public/main.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css")
  body
    .wrapper
      nav#sidebar
      #content.container
        if path
          .row
            .col
              h1= path.parse().base
          #breadcrumbs.row
            nav.col(aria-label='breadcrumb')
              ol.breadcrumb
                for ancestor, idx in path.ancestors()
                  li.breadcrumb-item
                    a(href= ancestor.asURI())= ancestor.parse().base
                li.breadcrumb-item.active(aria-current="page")= path.parse().base
        .master-alert
        block content
    block js
    for path in js
      script(src= path)
