doctype html
html
  head
    title= title
    link(rel='stylesheet', href=assetPath('main.css'))
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')
    script var configFromServer = !{JSON.stringify(config)}

  body
    .wrapper
      nav
      #content
        .container
          .row
            .col-md-6
              h2 There's Nothing Here
              p
                | You could use the sidebar to create a page if you wish.

    script(src=assetPath('main.js'))
