

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.fa-button {
  cursor: pointer;
}
#breadcrumbs .breadcrumb {
  background-color: rgb(255,255,255);
}

pre {
  white-space: pre-wrap;
}

/*
=================================================================== sidebar ====
see https://bootstrapious.com/p/bootstrap-sidebar
*/

.wrapper {
  display: flex;
  align-items: stretch;
}

#content {
  width: 100%;
  padding: 20px;
}

.loadable {
  transition: background-position 30s linear;
}
.loading {
  background-image: repeating-linear-gradient(45deg,
      rgba(255,255,255,0),
      rgba(255,255,255,0) 5%,
      rgba(255,255,255,0.5) 5%,
      rgba(255,255,255,0.5) 10%
  );
  background-size: 100px 100px;
  background-repeat: repeat;

  background-position: 750px 0px;
}
.table a {
  color: inherit;
  img {
    max-width: 300px;
    max-height: 300px;
  }
}
