div(
  class= classNames('modal', 'fade', component)
  tabindex="-1"
  role="dialog"
  aria-labelledby="imagePasteLabel"
  aria-hidden="true"
)
  .modal-dialog.modal-lg(role="document")
    .modal-content
      form
        .modal-header
          h5.modal-title Image Upload
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p
            img.d-none.img-fluid.img-thumnail.d-block.mx-auto
          p
            .form-group
              label(for="file") Choose image
              input.form-control-file(
                data-on-input= "inputFile"
                type= "file"
                accept= "image/*"
                name= "file"
              )
          p
            .form-group
              label(for="path") Destination Path
              input.form-control(
                name= "path"
                type="text"
                readonly="true"
              )
          .alert-container
        .modal-footer
          button.btn.btn-secondary(
            type="button"
            data-dismiss="modal"
          ) Close
          button.submit.btn.btn-primary(
            data-on-click= "clickUpload"
            type="button"
          ) Upload
